<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Pokémon</title>
</head>
<body>
    <h1>Cadastrar Pokémon</h1>
    <form action="/pokemons/createNewPokemon" method="post">
        <label for="name">Nome do Pokémon:</label>
        <input type="text" id="name" name="name" required>

        <label for="type">Tipo do Pokémon:</label>
        <input type="text" id="type" name="type" required>

        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>
