
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Cadastrar Treinador</title>
</head>
<body>
    <h1>Cadastrar Treinador</h1>
    <form action="/submitTrainer" method="post">
        <label for="name">Nome do Treinador:</label>
        <input type="text" id="name" name="name" required>
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>
