<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Pokédex</title>
</head>
<body>
    <h1>Pokédex</h1>
    <ul>
        <% pokemons.forEach(function(pokemon) { %>
            <li>
                <a href="/pokemons/pokemon/<%= pokemon.id %>"><%= pokemon.nome %></a>
                - <%= pokemon.tipo %>
            </li>
        <% }); %>
    </ul>
    <div>
        <a href="/pokemons/createNewPokemon">
            <button>Cadastrar novo Pokémon</button>
        </a>
    </div>
    <div>
        <a href="/trainers/createTrainer">
            <button>Cadastrar Treinador</button>
        </a>
    </div>
</body>
</html>
